@charset "utf-8";

// 基本字体大小，取值为设计稿的1/10
$fontBase: 75px;
$windowWidth: 750px;
$windowHeight: 1206px;

@function rem ($px) {
  @return $px * 1px / $fontBase * 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@function pxToVw ($width) {
  @return $width * 1px / $windowWidth * 100vw;
}

@function pxToVh ($height) {
  @return $height * 1px / $windowHeight * 100vh;
}

@mixin size($width, $height) {
  width: rem($width);
  height: rem($height);
}

// flexbox-centering
@mixin flexbox-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

// grid centering
@mixin grid-centering {
  display: grid;
  justify-content: center;
  align-items: center;
}

@mixin flexbox-centering1 {
  display: flex;
  justify-content: center;
}
// truncate text 文字超出隐藏，显示为...
@mixin truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 120px;
}

// 圆角
@mixin circle {
  border-radius: 50%;
}

%select {
  background-color: transparent;
  border: none;
  appearance: none;
  outline: none;
}

%mCenter {
  margin-left: auto;
  margin-right: auto;
}

%posCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

%bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

%bg-cover {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%bg-contain {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

%button {
  border: none;
  outline: none;
}

%input {
  background-color: transparent;
  border: 1px solid #b0b0b0;
  padding: 0 rem(27);
  color: #a1a1a1;
}

body {
  background-color: rgb(250, 236, 238);
}

input, button, a {
  outline: none;
}

button, input, select, textarea, h1, h2, h3, h4 {
  font-size: 100%;
  vertical-align: middle
}

em, i {
  font-style: normal
}

ol, ul, li {
  list-style: none
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

a {
  color: #000;
  text-decoration: none;
  outline: none
}

input::-webkit-input-placeholder {
  color: #e5ded1;
}

#app {
  width: 100vw;
  height: 100vh;
  // overflow: hidden;
}

.content1{
  height: 100vh;
  padding: 0;
}
.content{
  padding:5%;
  height: 100vh;

  .nav{
    display: flex;
    justify-content: space-between;
    .imgs{
      width: rem(80);
      height: rem(80);
      border-radius: 50%;
    }
    .title{
      font-size: rem(45);
      color: #ffffff;
      text-align: center;
    }
    .icon{
      font-size: rem(45);
      color: pink;
    }
  }

  .nav{
    width: 100%;
    height: rem(100);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(241, 197, 197, 0.5);
    color: #ffffff;
    font-size: rem(35);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8% 3%;

    .return{
      left: 4%;
      position: absolute;
      color: #ffffff;

      i{
        font-size: rem(45);
      }
    }
  }

  .list{
    margin-top: 17%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li{
      a{
        display: inline-block;
        width: rem(180);
        height: rem(180);
        border-radius: 50%;
        border: 1px solid #ecb2b1;
        margin: 2%;
      }
      p{
        text-align: center;
        margin-bottom: 10px;
        color:#f89898;
        i{
          padding-right: 2%;
        }
      }
    }
  }
}


.bt {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  border-radius: rem(50);
  width:rem(320);
  height:rem(70);
  margin: rem(50) auto 0;
  .btn{
    display: inline-block;
    text-align: center;
    color: #ecb2b1;
    font-size: rem(33);
    line-height: rem(70);
    letter-spacing: 2.4px;
    // padding: 5px 36px;
  }
}
.bt1{
  background-color: #806e71;
  bottom: 3%;
  opacity: 0.9;
}
.bt2{
  background-color: #ffffff;
  bottom: 5%;
  opacity: 0.7;
  .btn{
    color: #201f1f;
  }
}


$fontBase: 75px;
$windowWidth: 750px;
$windowHeight: 1334px;

@function rem ($px) {
  @return $px * 1px / $fontBase * 1rem;
}

@function pxToVw ($width) {
  @return $width * 1px / $windowWidth * 100vw;
}

@function pxToVh ($height) {
  @return $height * 1px / $windowHeight * 100vh;
}

@mixin size($width, $height) {
  width: rem($width);
  height: rem($height);
}

a {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);

  &:hover {
    color: inherit;
  }
}


.hidden {
  display: none;
}

.img {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

%mCenter {
  margin: {
    left: auto;
    right: auto;
  }
}

%posCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#root {
  height: 100vh;
}

html,body,h1,ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.page{position: relative;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.page1{
  background-image: url('../images/images/bg1.jpg');

  .code{
    position: absolute;
    width: rem(293);
    height: rem(75);
    bottom: 83%;
    @extend %posCenter;
    background: url(../images/images/code.png) no-repeat center;
    background-size: contain;
  }

  .up1{
    @extend %posCenter;
    position: absolute;
    width: rem(602);
    height: rem(910);
    top:20%;
    background: url(../images/images/up1.png) no-repeat center;
    background-size: contain;

    ul{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      @extend %posCenter;
    }

    .number{
      bottom: 66%;
      width: rem(468);
      // border: 1px solid;
      li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 21%;
        margin: 2%;
        height: rem(118);
        background-color: #fff;
        color: #c9947e;
        font-size: rem(80);
      }
    }

    .exchange{
      bottom: 4%;
      width: rem(426);

      li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(109);
        margin: 2%;
        height: rem(109);
        background-color: rgba(0, 0, 0, 0.4);
        color: #fff;
        font-size: rem(78);
        border-radius: 35%;

        &:nth-child(3n + 2) {
          margin: 2% 7%;
        }
      }

      .font{
        position: absolute;
        bottom: 0;
        font-size: rem(43);
        margin: 2%;

        &.btn--delete {
          left: -4%;
        }

        &.btn--confirm {
          right: 1%;
        }
      }
    }
  }
}

.page2{
  background-image: url('../images/images/bg2.jpg');

  .logo{
    width: rem(293);
    height: rem(75);
    margin: rem(75) auto 0;
    background: url(../images/images/logo.png) no-repeat center;
    background-size: contain;
  }
}

.page {
  @include flexbox-centering;
  width: 100vw;
  height: 100vh;
}

.btn {
  @include size(320, 63);
  background-color: #fff;
  @extend %button;
  font-size: rem(36);
  @include flexbox-centering;
}
.btn1{
  margin: rem(122) auto rem(30);
  letter-spacing: 2px;
}
.btn2{
  margin: rem(156) auto 0;
  letter-spacing: 10px;
}
.btn3{
  margin: rem(125) auto 0;
  letter-spacing: 10px;
}
.btn4{
  margin: rem(28) auto 0;
  letter-spacing: 10px;
}

input {
  background-color: transparent;
  border: 1px solid #b0b0b0;
  padding: 0 5%;
  color: #a1a1a1;
}

select {
  background-color: transparent;
  border: none;
  appearance: none;
  outline: none;
}

.logo {
  margin: auto;
  @extend %bg-contain;
  background-image: url(../images/logo.png);
}
.logo1 {
  @include size(243, 304);
}
.logo2 {
  @include size(186, 233);
}
// page1 start
.page1 {
  @extend %bg;
  background-image: url(../images/bg1.jpg);

  .page1-content {
    @extend %posCenter;
    top: rem(159);

    .page1-text {
      margin: rem(60) auto 0;
      @include size(372, 328);
      @extend %bg-contain;
      background-image: url(../images/page1-text.png);
    }

    .privilege-text {
      margin: auto;
      @include size(455, 26);
      @extend %bg-contain;
      background-image: url(../images/privilege-text.png);
    }
  }
}
// page1 end

// page2 start
.page2 {
  @extend %bg;
  background-image: url(../images/bg2.jpg);

  .page2-content {
    @extend %posCenter;
    top: rem(198);

    .page2-title {
      margin: auto;
      @include size(428, 123);
      @extend %bg-contain;
      background-image: url(../images/trip-title.png);
    }

    .page2-enter {
      margin:rem(110) auto 0;
      @include size(346, 83);
      @extend %bg-contain;
      background-image: url(../images/binding-new-member.png);
    }
  }

  .page2-form {
    width: rem(566);
    margin: rem(78) auto 0;

    .input-number {
      @include size(566, 63);
      @extend %input;
    }
  }

  .page2-code {
    margin-top: rem(30);
    display: flex;
    justify-content: space-between;

    .input-code {
      @extend %input;
      @include size(360, 63);
    }
    .code {
      @include size(198, 63);
      background-color: #aaaaaa;
      color: #fff;
      font-size: rem(30);
      @include flexbox-centering;
    }
  }
}

.page2-agree {
  margin-top: rem(22);
  @include flexbox-centering1;

  .page2-checkbox {
    @include size(22, 14);
  }
  .page2-protocol {
    @include size(540, 34);
    @extend %bg-contain;
    background-image: url(../images/protocol.png);
  }

  .label {
    display: flex;
    justify-content: space-between;
  }
}
// page2 end

// page3 start
.page3 {
  @extend %bg;
  background-image: url(../images/bg3.jpg);

  .page3-content {
    @extend %posCenter;
    top: rem(141);
  }

  .page3-form {
    width: rem(568);
    margin: rem(49) auto 0;

    .page3-input1 {
      @extend %input;
      @include size(568, 66);
    }

    .page3-input2 {
      margin-top: rem(28);
      @extend %input;
      @include size(568, 66);
    }

    .page3-select1 {
      margin-top: rem(28);
      padding:0 5%;
      @include size(568, 66);
      @extend %bg-contain;
      background-image: url(../images/select-gender.png);
      color: #a6a6a6;
    }
  }

  .page3-group1,.page3-group2 {
    margin-top: rem(28);
    @include flexbox-centering;

    select {
      padding:0 rem(27);
      color: #a6a6a6;
    }

    .select1 {
      @include size(130, 64);
      @extend %bg-contain;
      background-image: url(../images/select-date.png);
    }

    .select2 {
      @include size(233, 64);
      @extend %bg-contain;
      background-image: url(../images/select-time.png);
    }

    span {
      color: #fff;
      font-size: rem(29);
      margin: 0 rem(23) 0 rem(15);
    }
  }
  .page3-group1 {
    margin-left: 5px;
  }
  .page3-group2 {
    margin-left: 11px;
  }

  .group1,.group2,.group3 {
    width: 34.333%;
    @include flexbox-centering;

    // span:last-child {
    //   margin: 0 0 0 rem(25);
    // }
  }

  .group4,.group5 {
    width: 53%;
    @include flexbox-centering;
  }
}
// page3 end

// page4 start
.page4 {
  @extend %bg;
  background-image: url(../images/bg4.jpg);

  .page4-content {
    @extend %posCenter;
    top: rem(89);
  }

  .page4-glass {
    margin: rem(46) rem(116) 0;
  }

  .page4-text {
    margin: auto;
    @include size(298, 57);
    @extend %bg-contain;
  }

  .page4-text1 {
    background-image: url(../images/select-style-label.png);
  }

  .page4-text2 {
    background-image: url(../images/select-type-label.png);
  }

  .page4-imgs {
    margin: rem(17) auto rem(23);
    width: rem(400);
    display: flex;
    flex-wrap: wrap;
  }

  .q,.n {
    @include size(131, 131);
    @extend %bg-contain;
  }

  .q1 {
    background-image: url(../images/q1.png);

    &.active {
      background-image: url(../images/q1-active.png);
    }
  }
  .q2 {
    background-image: url(../images/q2.png);
    &.active {
      background-image: url(../images/q2-active.png);
    }
  }
  .q3 {
    background-image: url(../images/q3.png);
    &.active {
      background-image: url(../images/q3-active.png);
    }
  }
  .q4 {
    background-image: url(../images/q4.png);
    &.active {
      background-image: url(../images/q4-active.png);
    }
  }
  .q5 {
    background-image: url(../images/q5.png);
    &.active {
      background-image: url(../images/q5-active.png);
    }
  }
  .q6 {
    background-image: url(../images/q6.png);
    &.active {
      background-image: url(../images/q6-active.png);
    }
  }

  .n1 {
    background-image: url(../images/n1.png);
    &.active {
      background-image: url(../images/n1-active.png);
    }
  }
  .n2 {
    background-image: url(../images/n2.png);
    &.active {
      background-image: url(../images/n2-active.png);
    }
  }
  .n3 {
    background-image: url(../images/n3.png);
    &.active {
      background-image: url(../images/n3-active.png);
    }
  }
  .n4 {
    background-image: url(../images/n4.png);
    &.active {
      background-image: url(../images/n4-active.png);
    }
  }
  .n5 {
    background-image: url(../images/n5.png);
    &.active {
      background-image: url(../images/n5-active.png);
    }
  }
  .n6 {
    background-image: url(../images/n6.png);
    &.active {
      background-image: url(../images/n6-active.png);
    }
  }
}
// page4 end

// page5 start
.page5 {
  @extend %bg;
  background-image: url(../images/bg5.jpg);

  .page5-content {
    @extend %posCenter;
    top: rem(116);

    .page5-text {
      margin: rem(32) auto rem(18);
      @include size(230, 56);
      @extend %bg-contain;
      background-image: url(../images/binding-success.png);
    }
  }
  .page5-group {
    margin: auto;
    width: rem(266);

    p{
      margin: 0;
      text-align: center;
      font-size: rem(26);
      color: #d9dada;
      letter-spacing: 1px;
    }
  }
  .page5-house99 {
    display: flex;

    .house99 {
      display: block;
      @include size(148, 23);
      @extend %bg-contain;
      background-image: url(../images/house99.png);
      padding-top: 15%;
    }
  }

  .page5-card {
    margin: 3% auto 0;
    @include size(647, 668);
    @extend %bg-contain;
    background-image: url(../images/card.png);
  }
}
// page5 end
